* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

.card {
    border: 1px solid ;
    height: 260px;
    width: 200px;
    position: relative;
    border-radius: 8px;
    /* transition: box-shadow 0.2s ease; */
  }

  .close {
    font-size: 24px;
    color: silver;
    position: absolute;
    top: -8px;
    left: 2px;
  }

  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .number {
    color: white;
  }
  .card img{
    padding-top: 16px;
    width: 100%;
  }

  .card h4 {
    padding-top: 8px;
    text-align: center;
    border-top: 1px solid rgb(202, 199, 199);
    font-size: 24px;
  }